<div>
	<h2>训练师时间配置</h2>
	<p>配置时间格式如：2018/12/21 8：30：00</p>
	<div style="margin: 20px 0;"></div>

	<table>

		<tr value=1>
			<td><label for="meeting">第一组开始时间：</label><input id="one"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
			<td><label for="meeting">第一组结束时间：</label><input id="two"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
		</tr>


		<tr>
			<td><label for="meeting">第二组开始时间：</label><input id="meeting"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
			<td><label for="meeting">第二组结束时间：</label><input id="meeting"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
		</tr>

		<tr>
			<td><label for="meeting">第三组开始时间：</label><input id="meeting"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
			<td><label for="meeting">第三组结束时间：</label><input id="meeting"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
		</tr>


		<tr>
			<td><label for="meeting">第四组开始时间：</label><input id="meeting"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
			<td><label for="meeting">第四组结束时间：</label><input id="meeting"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
		</tr>


		<tr>
			<td><label for="meeting">第五组开始时间：</label><input id="meeting"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
			<td><label for="meeting">第五组结束时间：</label><input id="meeting"
				type="datetime-local" value="2014-01-13" name="dateTime"/></td>
		</tr>
	</table>

	<!-- 
	<div id="cc" class="easyui-calendar"></div> -->
	<!-- /.box-body -->

	<div class="box-footer">
		<button type="button" class="btn btn-default btn-cancel">Cancel</button>
		<button type="button" class="btn btn-info pull-right btn-save">Save</button>
	</div>
	<!-- /.box-footer -->
</div>

<script>
	$(function() {	
		InitAllInputData();
		 $(".box-footer")
	 .on("click",".btn-cancel",doCancel)
	 .on("click",".btn-save",saveTime);
		
		/* 
		$(".btn-save").click(function() {
			var date_time = document.getElementsByName("dateTime");
			var timeAll = new Array();
			for (var i = 0; i < date_time.length; i++) {
				if (date_time[i].value != "")
					timeAll[i] = date_time[i].value;
			}	
			$("#mainContentId").data("timeAll", timeAll);
			doSaveOrUpdate();
		}) */
		
		
		
	})
	
	function saveTime(){
		var date_time = document.getElementsByName("dateTime");
		var timeAll = new Array();
		for (var i = 0; i < date_time.length; i++) {
			if (date_time[i].value != "")
				timeAll[i] = date_time[i].value;
		}	
		$("#mainContentId").data("timeAll", timeAll);
		doSaveOrUpdate();
	}
	
	function doSaveOrUpdate(){
		var id = $("#mainContentId").data("appointmentTimeId");
		//console.log("123");
		//console.log(id);
		var timeAll = $("#mainContentId").data("timeAll");
		if (!timeAll) return;
		var SaveUrl = "appointment/dosaveAppointmentTime";
		for (var i = 0; i < timeAll.length; i += 2) {
			var startTime = timeAll[i];
			var endTime = timeAll[i + 1];
			var params1 = {
				"startTime" : startTime,
				"endTime" : endTime,
				"appointmentId" : id
			}
			$.post(SaveUrl, params1, function(result) {
				if (result.status == 200) {
					alert(result.msg);
				//	doCancel();
				} else {
					alert(result.msg);
				}
			})
		}
		
	}
	
	function InitAllInputData(){
		var data = $("#mainContentId").data("rowData1");
		console.log(data);
		 console.log("8888");
		var allTime = new Array();
		var k = 0;
		for (var i = 0; i < data.length; i++) {
			allTime[k] = data[i].starttime;
			k++;
			allTime[k] = data[i].endtime;
			k++;
		}
		console.log(allTime);
		//console.log("111111");
		//console.log(data);
		if (!data)
			return;
		// var date_time = document.getElementsByName("dateTime");
		//  console.log(date_time);
		/*for(var i=0;i<date_time.length;i++){
		 date_time[i].value(data[i]);
		}  */
		var a = $("#meeting");
		for (var i = 0; i < a.length; i++) {
			// if(new Date(data[i]).toLocaleString()==Invalid Date)return;
			//console.log(allTime[i]);
			a[i].value = new Date(allTime[i]).toLocaleString();
		}
		
	}
	
	 function doCancel(){
			$("#mainContentId").removeData("timeAll");
			$("#mainContentId").load("appointment/doAppointmentUI");
		 }
</script>






















