<div>
	<h2 class="box-titleTime">训练师时间配置</h2>
	<p>配置时间格式如：2018/12/21 8：30：00</p>
	<div style="margin: 20px 0;"></div>

	<table >

		<tr value=1>
			<td><label for="meeting1">第一组开始时间：</label><input id="meeting1" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
			<td><label for="meeting2">第一组结束时间：</label><input id="meeting2" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
		</tr>


		<tr>
			<td><label for="meeting3">第二组开始时间：</label><input id="meeting3" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
			<td><label for="meeting4">第二组结束时间：</label><input id="meeting4" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
		</tr>

		<tr>
			<td><label for="meeting5">第三组开始时间：</label><input id="meeting5" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
			<td><label for="meeting6">第三组结束时间：</label><input id="meeting6" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
		</tr>


		<tr>
			<td><label for="meeting7">第四组开始时间：</label><input id="meeting7" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
			<td><label for="meeting8">第四组结束时间：</label><input id="meeting8" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
		</tr>


		<tr>
			<td><label for="meeting9">第五组开始时间：</label><input id="meeting9" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
			<td><label for="meeting10">第五组结束时间：</label><input id="meeting10" calss="meeting"
				type="datetime-local" name="dateTime" /></td>
		</tr>
	</table>

	<!-- 
	<div id="cc" class="easyui-calendar"></div> -->
	<!-- /.box-body -->

	<div class="box-footer">
		<button type="button" class="btn btn-default btn-cancel">Cancel</button>
		<button type="button" class="btn btn-info pull-right btn-save">Save</button>
	</div>
	<!-- /.box-footer -->
</div>

<script>
	$(function() {
		InitAllInputData();
		$(".box-footer").on("click", ".btn-cancel", doCancel).on("click",
				".btn-save", saveTime);

		/* 
		$(".btn-save").click(function() {
			var date_time = document.getElementsByName("dateTime");
			var timeAll = new Array();
			for (var i = 0; i < date_time.length; i++) {
				if (date_time[i].value != "")
					timeAll[i] = date_time[i].value;
			}	
			$("#mainContentId").data("timeAll", timeAll);
			doSaveOrUpdate();
		}) */

	})

	function saveTime() {
		var date_time = document.getElementsByName("dateTime");
		var timeAll = new Array();
		for (var i = 0; i < date_time.length; i++) {
			if (date_time[i].value != "")
				timeAll[i] = date_time[i].value;
		}
		$("#mainContentId").data("timeAll", timeAll);
		doSaveOrUpdate();
	}

	function doSaveOrUpdate() {
		var id = $("#mainContentId").data("appointmentTimeId");
		//console.log("123");
		//console.log(id);
		var timeAll = $("#mainContentId").data("timeAll");
		if (!timeAll)
			return;
		var SaveUrl = "appointment/dosaveAppointmentTime";
		for (var i = 0; i < timeAll.length; i += 2) {
			var startTime = timeAll[i];
			var endTime = timeAll[i + 1];
			var params1 = {
				"startTime" : startTime,
				"endTime" : endTime,
				"appointmentId" : id
			}
			$.post(SaveUrl, params1, function(result) {
				if (result.status == 200) {
					alert(result.msg);
					//	doCancel();
				} else {
					alert(result.msg);
				}
			})
		}

	}

	function InitAllInputData() {
		var data = $("#mainContentId").data("rowDataTime");
		var allTime = new Array();
		var k = 0;
		
		for (var i = 0; i < data.length; i++) {
			allTime[k] = data[i].startTime;
			k++;
			allTime[k] = data[i].endTime;
			k++;
		}
		//console.log(allTime);
		
		if (!data)
			return;
		//var a = document.getElementByClassName("meeting");
		var a =  $("input");
		//debugger;
		for (var i = 0; i < a.length; i++) {
			a[i].value = allTime[i];
		}

	}

	function doCancel() {
		$("#mainContentId").removeData("timeAll");
		$("#mainContentId").load("appointment/doAppointmentUI");
	}
</script>






















