<!-- Horizontal Form -->
<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">添加用户</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form class="form-horizontal">
		<!-- 问卷主体 -->
		<div id="container" class="g_container">

			<!--	<div class="survey_background_wrap" style="height: 498px;"></div>-->
			<div>
				<!-- style="margin: 75px;" -->
				<div>
					<!-- style="text-align: center" -->
					<h1 style="display: block;">
						<div>
							<div>
								<p>诊断表</p>
							</div>
						</div>
					</h1>
					<div style="font-size: 100%;">
						<div>
							<div class="survey_prefix"
								style="display: block; margin-top: 40px;">
								<div class="inner">
									<h2 class="prefix_content">
										<p style="color: #00a2d4;">
											<strong>验光</strong>
										</p>
									</h2>
								</div>
							</div>
							<br />
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										1.右眼&nbsp;（<input type="text" name="rDs" id="rDsId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：3.2">）DS&nbsp;+
										（<input type="text" name="rDc" id="rDcId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：3.2">）DC&nbsp;+
										（<input type="text" name="rX" id="rXId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：3.2">°）→&nbsp;
										视力：（<input type="text" name="rD" id="rDId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：3.2">°）
									</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										2.左眼&nbsp;（<input type="text" name="lDs" id="lDsId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：3.2">）DS&nbsp;+
										（<input type="text" name="lDc" id="lDcId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：3.2">）DC&nbsp;+
										（<input type="text" name="lX" id="lXId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：3.2">°）→&nbsp;
										视力：（<input type="text" name="lD" id="lDId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：3.2">°）
									</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										3.瞳距:&nbsp;<input type="text" name="pupilDistance" id="pupilDistanceId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:10%;text-align:center" placeholder="如：20">mm
									</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										4.配镜：&nbsp;右眼（度数<input type="text" name="rGlassesD" id="rGlassesDId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：300">°，
										散光<input type="text" name="rGlassesDc" id="rGlassesDcId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：300">°）<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										左眼（度数<input type="text" name="lGlassesD" id="lGlassesDId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：300">°，
										散光<input type="text" name="lGlassesDc" id="lGlassesDcId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:5%;text-align:center" placeholder="如：300">°）
									</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										5.眼位检查：&nbsp;
										<input type="text" name="eyePositionExamination" id="eyePositionExaminationId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										6.同视视：&nbsp;<input type="text" name="synoptophore" id="synoptophoreId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										7.融合视：&nbsp;<input type="text" name="fusionvision" id="fusionvisionId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										8.立体视：&nbsp;<input type="text" name=stereopsis id="stereopsisId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										9.屈光不正：&nbsp;<input type="text" name=ametropia id="ametropiaId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										10.弱视程度：&nbsp;<input type="text" name=amblyopiaDegree id="amblyopiaDegreeId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										11.弱视性质：&nbsp;<input type="text" name=amblyopia id="amblyopiaId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										12.弱视预后：&nbsp;<input type="text" name=amblyopiaPrognosis id="amblyopiaPrognosisId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										13.斜视：&nbsp;<input type="text" name=strabismus id="strabismusId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										14.视光其他诊断：&nbsp;<input type="text" name=visionOther id="visionOtherId" style="border-left-width:0px;border-top-width:0px;border-right-width:0px;width:15%;text-align:center">
									</p>
								</div>
							</div>
							
							
							<div class="form-group">
								<label for="ageId" class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									<p class="border-0">
										15.训练过程家长配合事项：<br/><textarea  type="t" name=parentCooperationDuringTraining id="parentCooperationDuringTrainingId" cols="30" rows="5";text-align:center>
										</textarea>
									</p>
								</div>
							</div>
							
							<div class="form-group" style="padding-right: 0px">
								<p>
									&nbsp;&nbsp;&nbsp;<label for="diagnosticsId" class="col-sm-2 control-label">医师</label>
									<input type="text" name="diagnostics" id="diagnosticsId">
								</p>
								<p>
									&nbsp;&nbsp;&nbsp;<label for="gmtModifiedId" class="col-sm-2 control-label">时间</label>
									<input type="text" name="gmtModified" id="gmtModifiedId">
								</p>
							</div>
						</div>
						<br /> <br /> <br />
						<div class="box-footer">
							<button type="button" class="btn-cancel" style="float: left;">返回</button>
							<button type="button" class="btn-save" style="float: right;">保存</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">

	//json 格式的javascript对象
	$(document).ready(
			function() {
				//页面加载完成以后加载角色信息并初始化页面
				doLoadRoles();
				//事件注册
				$('#gmtModifiedId').val(getNowFormatDate());
				$(".box-footer").on("click", ".btn-cancel", doCancel).on("click", ".btn-save", doSaveOrUpdate);

			});

	function doCancel() {
		$("#mainContentId").removeData("rowData");
		$("#mainContentId").load("cusDiagnose/doCusDiagnoseListUI.do");
	}
	
	function doSaveOrUpdate() {
		var rowData = $("#mainContentId").data("rowData");
		//1.获取表单数据
		// var params=doGetEditFormData();
		var params = check();
	//	console.log(params);
		if (rowData)
			params.id = rowData.id;
		//2.发起异步请求
		var insertUrl = "cusDiagnose/doSaveObject.do";
		var updateUrl = "cusDiagnose/doUpdateObject.do";
		var url = rowData ? updateUrl : insertUrl;
	//	console.log(params);
		$.post(url, params, function(result) {
			if (result.state == 1) {
				alert(result.message);
				doCancel();
			} else {
				alert(result.message);
			}
		})
	}
	
	function doLoadRoles() {
		doInitFormData();//修改时
	}
	
	function doInitFormData() {
		$("#gmtCreateId").val(getNowFormatDate());
		
		var data = $("#mainContentId").data("rowData");
		console.log("一次测试");
		if (!data)
			return;
		console.log(data);
		//初始化用户信息 
		
		$("#rDsId").val(data.rDs);
		$("#rDcId").val(data.rDc);
		$("#rXId").val(data.rX);
		$("#rDId").val(data.rD);
		$("#lDsId").val(data.lDs);
		$("#lDcId").val(data.lDc);
		$("#lXId").val(data.lX);
		$("#lDId").val(data.lD);
		$("#pupilDistanceId").val(data.pupilDistance);
		$("#rGlassesDId").val(data.rGlassesD);
		$("#rGlassesDcId").val(data.rGlassesDc);
		$("#lGlassesDId").val(data.lGlassesD);
		$("#lGlassesDcId").val(data.lGlassesDc);
		$("#eyePositionExaminationId").val(data.eyePositionExamination);
		$("#synoptophoreId").val(data.synoptophore);
		$("#fusionvisionId").val(data.fusionvision);
		$("#stereopsisId").val(data.stereopsis);
		$("#ametropiaId").val(data.ametropia);
		$("#amblyopiaDegreeId").val(data.amblyopiaDegree);
		$("#amblyopiaId").val(data.amblyopia);
		$("#amblyopiaPrognosisId").val(data.amblyopiaPrognosis);
		$("#strabismusId").val(data.strabismus);
		$("#visionOtherId").val(data.visionOther);
		$("#parentCooperationDuringTrainingId").val(data.parentCooperationDuringTraining);
		$("#diagnosticsId").val(data.diagnostics)
	}
	
	//获取系统当前时间
	function getNowFormatDate() {
		var date = new Date();
		var month = date.getMonth() + 1;
		var strDate = date.getDate();
		if (month >= 1 && month <= 9) {
			month = "0" + month;
		}
		if (strDate >= 0 && strDate <= 9) {
			strDate = "0" + strDate;
		}
		var currentdate = date.getFullYear() + "-" + month + "-" + strDate;
		return currentdate;
	}
	
	function check() {
		
		var params = {
				rDs:$("#rDsId").val(),
				rDc:$("#rDcId").val(),
				rX:$("#rXId").val(),
				rD:$("#rDId").val(),
				lDs:$("#lDsId").val(),
				lDc:$("#lDcId").val(),
				lX:$("#lXId").val(),
				lD:$("#lDId").val(),
				pupilDistance:$("#pupilDistanceId").val(),
				rGlassesD:$("#rGlassesDId").val(),
				rGlassesDc:$("#rGlassesDcId").val(),
				lGlassesD:$("#lGlassesDId").val(),
				lGlassesDc:$("#lGlassesDcId").val(),
				eyePositionExamination:$("#eyePositionExaminationId").val(),
				synoptophore:$("#synoptophoreId").val(),
				fusionvision:$("#fusionvisionId").val(),
				stereopsis:$("#stereopsisId").val(),
				ametropia:$("#ametropiaId").val(),
				amblyopiaDegree:$("#amblyopiaDegreeId").val(),
				amblyopia:$("#amblyopiaId").val(),
				amblyopiaPrognosis:$("#amblyopiaPrognosisId").val(),
				strabismus:$("#strabismusId").val(),
				visionOther:$("#visionOtherId").val(),
				parentCooperationDuringTraining:$("#parentCooperationDuringTrainingId").val(),
				diagnostics:$("#diagnosticsId").val(),
				customerId:$("#mainContentId").data("customerId")
			}
			return params;
	}

</script>






