<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">远程诊断管理</h3>

				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="客户名">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
								<i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-add">添加</button>
							<button type="button" class="btn btn-default btn-update">修改</button>
							<button type="button" class="btn btn-default btn-delete">删除</button>
							<button type="button" class="btn btn-default btn-zhifu">支付</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="checkAll">全选</th> 
							<!-- <th>序号</th> -->
							<th>创建用户/修改用户</th>
							<th>门店地址</th>
							<th>门店名称</th>
							<th>客户名字</th>
							<th>客户电话</th>
							<th>选择专家</th>
							<th>第几次远程诊断</th>
							<th>发送人姓名</th>
							<th>发送人电话</th>
							<th>创建时间</th>
							<th>修改时间</th>
							<th>是否解决</th>
							<th>症状描述</th>
							<th>专家回复</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					
					</tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix"></div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">
	//作业，补充JS,发异步请求获取数据，呈现在页面上
	$(function(){
	 //分页页面加载完成，异步加载日志列表数据//pageId对应上方的id名字
	     $("#pageId").load("doPageUI",function(){
    	 doGetObjects();
     });
	 
     //查询按钮事件注册
     //在input-group-btn对象的子元素btn-search
     //上注册一个click事件
     $(".input-group-btn")
     .on("click",".btn-search",doQueryObjects)//对应搜索图标按钮
     .on("click",".btn-delete",doDeleteObjects)//对应删除按钮
     .on("click",".btn-add,.btn-update",doLoadEditUI)//对应添加和修改按钮
     .on("click",".btn-zhifu",doSikpzhifu);
     
     $("tbody").on("click",".btn-valid",doValidById);//点击启动和禁用
     $("tbody").on("click",".btn-symptomsDescribed",dosymptomsDescribed);//点击症状描述
     $("tbody").on("click",".btn-expertReply",doexpertReply);//点击专家回复
     
     //设置 thead 中checkbox对象的状态监听
     //$("#checkAll").change(doChangeTBodyCheckBoxState);
     $("thead").on("change","#checkAll",doChangeTHeadCheckBoxState);//设置全选框是否选中
   
     //设置 tbody 中checkbox对象的状态监听
     $("#tbodyId").on("change",'.cBox',doChangeTBodyCheckBoxState);
     //$(".cBox").change(doChangeTHeadCheckBoxState);不可以
   });
	 /* ================================================================================== */
	
	
	
	function doSikpzhifu(){
		 //debugger
		 var url ="skipzhifu"
	$("#mainContentId").load(url,function(){
					
		}) 
	}
	 

	
	
   //修改thead中checkbox对象的状态
   function doChangeTHeadCheckBoxState(){
	   //debugger
	   //1.获取thead中checkbox对象的状态
	   var state=$(this).prop("checked");
	   //2.设置tbody中checkbox对象的状态
	   //方法1
	   //$("#tbodyId input[type='checkbox']")
	   //.each(function(){
	   $(this).prop("checked",state);
	   //})
	   //debugger
	   //方法2
	   $("#tbodyId input[type='checkbox']")
	   .prop("checked",state);
   }
   
   
   //修改tbody中checkbox对象的状态
   function doChangeTBodyCheckBoxState(){
	   //1.获取tbody中所有checkbox对象状态&&操作的结果
	      var flag=true;
	     
	      //debugger
	      $("#tbodyId input[type='checkbox']")
	      .each(function(){
	    	  
	    	  flag=flag&&$(this).prop("checked");
	      });
	      //2.设置thead中checkbox的状态值
	      $("#checkAll").prop("checked",flag);
   }
	/* ========================================================================================== */
   
   
   
   
	
	
	
	
	 //添加和修改事件
	/* ========================================================================================== */
   
   function doLoadEditUI(){
	   //1.判定点击的对象
	   var title;
	   if($(this).hasClass("btn-add")){
		   //debugger
		   $("#mainContentId").removeData("rowData")
		   title="添加用户";
		   doLoadPage(title);//方法在下面
	   }else if($(this).hasClass("btn-update")){
		   title="修改用户";
		   var id=doGetCheckedId();//获取选中行的id
		   //debugger
		   //console.log("id="+id)
		   if(!id){
			  alert("请先选择");
			  return;
		   }
		   //基于id进行查询并加载编辑页面
		   doFindObjectById(id,title);
	   }
   }
    
   function doFindObjectById(id,title){
	   //1.params
	   var params={"id":id};
	   //2.url
	   var url="dia/doSelect.do";//通过id查询对应的数据
	   //3.ajax request
	   $.getJSON(url,params,function(result){//JsonResult
		   if(result.status==200){
			  console.log("aaa="+result.data);
			  $("#mainContentId").data("rowData",result.data); //#mainContentId在starter页面
			  //debugger
	/********* 进入user_edit页面***************/		  
	          doLoadPage(title);//方法在下面
		   }else{
			  alert(result.msg);
		   }
	   });
   }
   
   function doGetCheckedId(){
	 return $("tbody input[name='radioId']:checked").val();
	 //debugger
   }
   
   function doLoadPage(title){
	   var url="dia/doUserEditUI.do"
	   $("#mainContentId").load(url,function(){//#mainContentId在starter页面
		   //将henl()中的值添加进带".box-title"的标签中
		   $(".box-title").html(title);
	   }) 
   }	
   /* ========================================================================================== */
	
	
	
   
   
   
   
   
   //执行删除操作
    /* ===========================================================================================*/
	
	function doDeleteObjects(){
		
		
		//console.log("confirm="+confirm("123"));
		
		//1.定义请求的URL
		var url="dia/doDelete.do";
		//2.定义请求的参数
		var ids=doGetCheckedIds();//array数组
		if(ids.length==0){
			alert("请选择");
			return;
		}
		var params={"ids":ids.toString()};
		if(!confirm("你确认删除吗?"))return;
		//3.执行异步删除操作
		$.post(url,params,function(result){
		//console.log("删除="+result.toString)
		  if(result.status==200){
			  //alert(result.message);
			  doChangePageCode();
			  doGetObjects();
		  }else{
			  alert(result.msg);
		  }
		  
		})
	}
	
	//删除事件中的方法
	function doGetCheckedIds(){
		 //<input type='checkbox' value='1' checked=true>
		   //1.定义一数组
		   var array=[];//new Array();
		   //2.获取选中的checkbox的值并将其存储到数组
		   //2.1获取tbody中的所有类型为checkbox的input元素
		   $("#tbodyId input[type='checkbox']")
		   //2.2迭代所有checkbox对象
		   .each(function(){
			   //2.3判定checked属性的值，假如为true表示选中
			   if($(this).prop("checked")){
				   //向数组放数据(input元素value属性的值)
				   array.push($(this).val());
			   }
		   })
		   //debugger
		   //3.返回数组
		   return array;
	}
	
	
	//删除后修改页码值(比如删了最后一页的最后一条需要将当前页码值减1)
	function doChangePageCode(){
	    //debugger
		var pageCurrent=$("#pageId").data("pageCurrent");
		var pageCount=$("#pageId").data("pageCount");
		var state=$("#checkAll").prop("checked");
		//console.log("state="+state);
		//alert(state);
		if(state&&pageCurrent==pageCount&&pageCurrent>1){
			pageCurrent--;
			$("#pageId").data("pageCurrent",pageCurrent);
		}
	}
	/* ===================================================================================== */
	
	
	
	
	
	 //对应搜索按钮执行查询操作
	/* ===================================================================================== */
   function doQueryObjects(){
	   //重新初始化页码值
	   $("#pageId").data("pageCurrent",1);
	   //执行查询操作
	   doGetObjects();
   }
   
   /* ===================================================================================== */
	
	
   
   
   
   //点击症状描述按钮异步刷新显示页面
   /* ===================================================================================== */
   function dosymptomsDescribed(){
	   //获取当前行的id
	   //$("#mainContentId").removeData("rowData")
	   var rowData=$(this).parents("tr").data("rowData");
	   var id=rowData.id;//点击症状描述按钮可以获取id(已测试)
	   $("#mainContentId").data("Described",rowData);
	   //debugger
	   
	   //获取当前行id在症状描述表中的数据
	   
	   dosymtoms(id)
           
	   
   }
   
   function diaurl(url){
	 //点击后异步刷新进入症状描述页面
 	$("#mainContentId").load(url,function(){
		   
	  })
   }
   
   //获取当前行id在症状描述表中的数据
   function dosymtoms(id){
	   var params={"id":id}
	   //debugger
	   var url="sym/doSelectSym.do";
	                 

	   $.getJSON(url,params,function(result){
		   //debugger
		   if(result.status==200){
			   //alert(result.message);
			   console.log("symptoms="+result.data);
			   $("#mainContentId").data("symptoms",result.data); //#mainContentId在starter页面
			   console.log("symptoms="+result.data);
			   //进入症状描述页面的地址
			   var url="dia/doSymptoms.do";
			   
			   diaurl(url)
		       //debugger
		   }else{
			  // $("#mainContentId").data("symptoms",result.data);
			   //alert(result.message);
		   }
	   });
   }
   /* ===================================================================================== */
   
   
   
   
   
   
   
   //点击专家回复按钮异步刷新页面
   /* ===================================================================================== */
   function doexpertReply(){
	   //获取当前行的id
	   //$("#mainContentId").removeData("rowData")
	   var rowData=$(this).parents("tr").data("rowData");
	   var id=rowData.id;//点击专家回复按钮可以获取id(已测试)
	   $("#mainContentId").data("Reply",rowData);
	   //debugger
	   
	   //获取当前行id在专家回复表中的数据
	   doexpert(id)
	   
	   
	   
	   
   }
   
   function dorepurl(url){
	 //点击后异步刷新进入症状描述页面
	  $.post(url,function(result){
		if(result.status==201){
			console.log(result);
			alert(result.message);
		}else{
			$("#mainContentId").load(url);
		}
		})
   }
   
   //获取当前行id在专家回复表中的数据
   function doexpert(id){
	   var params={id:id}
	   //debugger
	   var url="rep/doSelectRep.do";
	   $.getJSON(url,params,function(result){
		   //debugger
		   if(result.status==200){
			   //alert(result.message);
			   console.log("expert="+result.data);
			   $("#mainContentId").data("expert",result.data); //#mainContentId在starter页面
			   console.log("expert="+result.data);
			   //进入专家回复页面的地址
			   var url="dia/doExpertReply.do";
			   
			   dorepurl(url)
		       //debugger
		   }else{
			   //$("#mainContentId").data("expert",result.data);
			   //alert(result.message);
		   }
	   });
   }
   /* ===================================================================================== */
   
   
   
   
   
   
   
   
   //已解决和未解决操作
   /* ===================================================================================== */
   function doValidById(){
	   //params
	   //debugger
	   var rowData=$(this).parents("tr").data("rowData");
	   var id=rowData.id;
	   var newValid=rowData.valid?0:1;//rowData.valid为1为true,0为false
	   var params={"id":rowData.id,"valid":newValid};
	   //url
	   var url="dia/doValidById.do";
	   //ajax request
       var btn=$(this);//获取点击的button对象
       //debugger
	   $.post(url,params,function(result){
		   //debugger
    	   if(result.status==200){
    		   alert(result.msg);
    		   //doGetObjects();//重新查询刷新
    		   //优化方式实现(局部刷新:修改button显示,修改td内容显示)
    		   doEditRow(btn,rowData.valid);
    	   }else{
    		   alert(result.msg);
    	   }
       })    
   }    
   function doEditRow(obj,valid){
	   //debugger
	   var valid=valid?0:1;
	   //1.修改按钮上的内容
	   
	   $(obj).html(valid?"已解决":"未解决");
	   //2.修改tr中第5个td中的内容(查询API文档)
	   var tr=$(obj).parents("tr");
	   tr.find("td:eq(12)").val(valid?"已解决":"未解决");
	   //3.获取当前行tr对象，然后重新绑定新的值
	   var rowData=tr.data("rowData")//取的是id
	   rowData.valid=valid;
	   tr.data("rowData",rowData);
   }
   
   /* ===================================================================================== */
   
   
   
   
   
   
   
   
   
    //异步请求远程诊断数据并进行局部更新操作
   /* ===================================================================================== */
   function doGetObjects(){
	  //debugger
	  //1.请求url?
	  var url="dia/doFindPageObjects.do";
	  //2.请求参数
	  var pageCurrent=$("#pageId").data("pageCurrent");//取出当前页的值
	  console.log(pageCurrent);
	  console.log(!pageCurrent);
	  if(!pageCurrent)pageCurrent=1;
	  var params={"pageCurrent":pageCurrent};//json对象
	  console.log(params);
	  //获取用户在搜索框输入的用户名
	  var customerName=$("#searchNameId").val();//获取搜索框里id为searchNameId里面的值
	  console.log("customerName="+customerName);
	  if(customerName)params.customerName=customerName;
	  
	  //3.发起异步请求(getJSON是jquery中ajax函数)
	  //3.1get请求
	  //3.2JSON表示此方法会将json串转换json格式对象
	  $.getJSON(url,params,function(result){
		  //result里面的是从控制层返回到浏览器的JsonResult对象,里面有状态信息和页面查询信息
		  //debugger
		  
		  console.log("result=",result);
	      //处理结果
	      doHandleResponseResult(result);
	  });
   }
   //处理服务端响应的数据
   function doHandleResponseResult(result){//JsonResult
	   console.log(result);
	   if(result.status==200){//正常数据
		  //设置table对象中tbody部分的内容
		  doSetTableBodyRows(result.data.records); 
	      //设置pageId位置对应的分页数据
	      //debugger
	      doSetPagination(result.data);//pageObject
	   }else{//异常数据
		  alert(result.msg) 
	   }
   }
   //设置table对象中tbody部分的内容
   function doSetTableBodyRows(records){
	   //debugger
	   console.log("records="+records);
	   //1.获取tbody对象并清空数据
	   var tBody=$("#tbodyId");
	   console.log("tBody="+tBody)
	   tBody.empty();//清空数据
	   //2.将记录records追加到tbody中
	   //for(var i=0;i<records.length;i++){}
	   //2.1迭代记录
	   for(var i in records){
		  //debugger
		  //2.2 构建tr对象(行)
		  var tr=$("<tr></tr>");
		  tr.data("rowData",records[i]);
		  //2.3 构建多个td对象(列)
		 // doxuhao()
		  var tds=doCreateTds(records[i]);
		  //2.4 将td追加到tr中
		  tr.append(tds);
		  //2.5 将tr追加到tbody中
		  tBody.append(tr);
	   }
	   
   }
   
   
   
	function doxuhao(){
		debugger
        //$('table tr:not(:first)').remove();
        var len = $('table tr').length;
        for(var i = 1;i<len;i++){
            $('table tr:eq('+i+') td:first').text(i);
        }
	}
   
   
   
   
   
   //创建多个tds对象
   function doCreateTds(row){
	   //var len =1;
	   var tds=
        "<td><input type='checkbox' name='radioId' class='cBox' value='"+row.id+"'></td>"+
		"<td>"+row.registerUser+"/"+row.modifiedUser+"</td>"+
		"<td>"+row.deptSite+"</td>"+
		"<td>"+row.deptName+"</td>"+
		"<td>"+row.customerName+"</td>"+
		"<td>"+row.customerTel+"</td>"+
		"<td>"+row.expert.expertName+"</td>"+
		"<td>"+row.timeNumber+"</td>"+
		"<td>"+row.sendName+"</td>"+
		"<td>"+row.sendTel+"</td>"+
		"<td>"+new Date(row.gmtCreate).toLocaleString()+"</td>"+
		"<td>"+new Date(row.gmtModified).toLocaleString()+"</td>"+
		"<td><button type='button' class='btn btn-default btn-valid'>"+(row.valid?"已解决":"未解决")+"</button></td>"+
	    "<td><button type='button' class='bta btn-default btn-symptomsDescribed'>"+"症状描述"+"</button></td>"+
		"<td><button type='button' class='btc btn-default btn-expertReply'>"+"专家回复"+"</button></td>";
	   return tds;
   }
	
</script>




