<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>视力矫正后台管理系统</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="bower_components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="dist/css/skins/skin-purple-light.min.css">
<link rel="stylesheet"
	href="bower_components/layer/skin/default/layer.css">
<link rel="stylesheet"
	href="bower_components/ztree/css/metroStyle/metroStyle.css" />
<link rel="stylesheet"
	href="bower_components/treegrid/jquery.treegrid.css" />
<link rel="stylesheet" href="mycss/my_buttom_delete.css" />
<link rel="stylesheet" href="mycss/my_buttom_insert.css" />
<link rel="stylesheet" href="mycss/my_buttom_update.css" />
<link rel="stylesheet" href="mycss/my_buttom_chufang.css" />
<link rel="stylesheet" href="mycss/userId.css">
<link rel="stylesheet" href="mycss/userName.css">
<link rel="stylesheet" href="mycss/userPhone.css">
<link rel="stylesheet" href="mycss/diagnosisApolo.css">
<link rel="stylesheet" href="mycss/diagnosisDownload.css">
</head>
<body class="hold-transition skin-purple-light sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<!-- ============================================================================================ -->
			<!-- logo文本设置 -->
			<a href="doIndexUI" class="logo"> <span class="logo-mini">视力</span>
				<span class="logo-lg">视力矫正后台管理系统</span>
			</a>
			<!-- ============================================================================================ -->
			<!-- 最小化菜单按钮 -->
			<nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
				 <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
         
          
        
         
          
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="dist/img/user7-128x128.jpg" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">CGB</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="dist/img/user7-128x128.jpg" class="img-circle" alt="User Image">

                <p>
                  CGB1809 视力矫正后台管理系统
                  <small>2018-12-23</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                 
                  </div>
                  <div class="col-xs-4 text-center">
                  
                  </div>
                  <div class="col-xs-4 text-center">
                   
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                
                <div class="pull-right">
                  <a href="user/doLogout.do" class="btn btn-default btn-sign-out">退出</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
			</nav>
		</header>
		<!-- ============================================================================================ -->






		<!-- ============================================================================================ -->
		<!-- 头像设置 -->
		<aside class="main-sidebar">
			<section class="sidebar">
				<div class="user-panel">
					<div class="pull-left image">
						<img src="dist/img/user7-128x128.jpg" class="img-circle"
							alt="User Image">
					</div>
					<div class="pull-left info">
						<p>CGB</p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>

				<!-- ============================================================================================ -->
				<!-- 菜单管理 -->
				<ul class="sidebar-menu" data-widget="tree">
					
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>系统权限管理</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-dept-id">组织管理</a></li>
							<li><a id="load-menu-id">菜单管理</a></li>
							<li><a id="load-role-id">角色管理</a></li>
							<li><a id="load-user-id">用户管理</a></li>
							<li><a id="load-log-id"> 日志管理</a></li>
						</ul></li>
					<!-- ************************************************** -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>资源配置</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-res_project_config-id">项目配置</a></li>
							<li><a id="load-res_symptom_type-id">症状类型</a></li>
							<li><a id="load-res_promotional_language-id">提示语</a></li>
						</ul></li>
					<!-- ************************************************** -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>训练管理</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-traInformationrecord-id">训练记录</a></li>
							<li><a id="load-cus-schedule-id">课程表</a></li>
						</ul></li>
					<!-- ************************************************** -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>客户管理</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-cus-customer-id">客户信息</a></li>
							<li><a id="load-cus-consultation-id">咨询表</a></li>
							<li><a id="load-cus-diagnose-id">诊断表</a></li>
						</ul></li>
					<!-- ************************************************** -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>店面动态</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a></li>
					<!-- ************************************************** -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>消息中心</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-dept-id">充值通知</a></li>
							<li><a id="load-dept-id">课程通知</a></li>
							<li><a id="load-dept-id">训练通知</a></li>
							<li><a id="load-dept-id">系统公告</a></li>
							<li><a id="load-dept-id">系统通知</a></li>
						</ul></li>

					<!-- ************************************************** -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>充值管理</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-dept-id">充值记录</a></li>
							<li><a id="load-dept-id">充值类型</a></li>
						</ul></li>
					<!-- ************************************************** -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>预约</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-appointment-id">医师管理</a></li>
							<li><a id="load-dept-id">预约管理</a></li>
						</ul></li>
					<!-- ************************************************** -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>专家远程诊断</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-exp-remote">远程诊断</a></li>
							<li><a id="load-exp-expert">专家列表</a></li>
						</ul>
					</li>
					<!-- ************************************************** -->
					<li class="treeview"><a href="#"><i class="fa fa-link"></i>
							<span>远程处方下载</span> <span class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span> </a>
						<ul class="treeview-menu">
							<li><a id="load-pre-diagnosis_id">症状处方</a></li>
						</ul></li>
					<!-- ************************************************** -->
				</ul>
				<!-- ============================================================================================ -->

				<!-- 很重要，不能删 -->

			</section>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					<small>Optional description</small>
				</h1>
				
			</section>
			<!-- ============================================================================================ -->




			<!-- ============================================================================================ -->
			<!-- 主页面，需要局部刷新的部分 -->
			<section id="mainContentId" class="content container-fluid">


			</section>
			<!-- ============================================================================================ -->




			<!-- ============================================================================================ -->
			<!-- 页脚设置 -->

		</div>
		<footer class="main-footer">
			<div class="pull-right hidden-xs"></div>
			<strong>Copyright &copy; 2018 <a href="#">Tedu-成都高升桥中心</a>.
			</strong> 提供技术支持.
		</footer>
		<!-- ============================================================================================ -->






		<!-- ============================================================================================ -->
		<!-- 引入外部js文件 -->

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="dist/js/adminlte.min.js"></script>
		<!-- ============================================================================================ -->







		<!-- ============================================================================================ -->
		<!-- 局部刷新 -->
		<script type="text/javascript">
			$(function() {//页面加载完成执行
				doLoadUI("load-exp-remote","dia/doRemoteDiagnose.do")
		    	doLoadUI("load-exp-expert","exp/doExpert.do")
				doLoadUI("load-log-id", "log/doLogListUI.do")
				doLoadUI("load-menu-id", "menu/doMenuListUI.do")
				doLoadUI("load-dept-id", "dept/doDeptListUI.do")
				doLoadUI("load-role-id", "role/doRoleListUI.do")
				doLoadUI("load-user-id", "user/doUserListUI.do")
				doLoadUI("load-config-id", "config/doConfigListUI.do")
				doLoadUI("load-cus-customer-id", "customer/doCustomerListUI")
				doLoadUI("load-appointment-id",
						"appointment/doAppointmentUI.do")
				doLoadUI("load-cus-consultation-id",
						"cusConsultation/doCusConsultationListUI")
				doLoadUI("load-pre-diagnosis_id", "diagnosis/doDiagnosis.do")
				doLoadUI("load-cus-diagnose-id","cusDiagnose/doCusDiagnoseListUI")
				doLoadUI("load-traInformationrecord-id","traInformationrecord/doTraInformationrecordUI.do")
				doLoadUI("load-res_symptom_type-id","ResProjectConfig/doResProjectConfigUI.do")
				doLoadUI("load-res_project_config-id","resSymptomType/doResSymptomTypeList.do")
				doLoadUI("load-cus-schedule-id","cusSchedule/doScheduleListUI")
			});
			function doLoadUI(id, url) {
				$("#" + id).click(function() {
					 $.post(url,function(result){
							if(result.status==200){
								$("#mainContentId").load("doNullUI.do",function(){
								});
							}else{
								$("#mainContentId").load(url);
							}
						})
				});
			}
		</script>
		<!-- ============================================================================================ -->
</body>
</html>